body {
  margin: 15px;
}

.grid-container {
  display: grid;
  grid-template-rows: 6em 1em 1fr;
  grid-template-columns: 
  [filter-start] 1fr
  [filter-end] 20px
  [card-start] 75%
  [card-end];
}

.grid-item {
  border-radius: 10px;
}

.grid-header {
  grid-row: 1 / 2;
  grid-column: filter-start / card-end;
}

.grid-filters {
  grid-row: 3 / 4;
  grid-column: filter-start / filter-end;
 }

.card-container {
  grid-row: 3 / 4;
  grid-column: card-start / card-end;
}

.cards-grid-container{
 display: grid;
 grid-template-columns: repeat(3, auto);
 grid-template-rows: 20em 20em;
 gap: 10px;
 padding: 8px;
}

.grid-footer {
  grid-row: 4 / 5;
  grid-column: filter-start / card-end;
  margin: 10px 0px;
}

